body {
    background-color: rgb(224, 224, 213);
}
#header {
    text-align: center;
    background-image: linear-gradient(to right, tan, darkgreen);
    padding: 5px;
    font-family: monospace;
}

.container {
    display: flex;
    justify-content: space-between;
}

#state-name {
    margin-top: 10px;
}

#search-btn {
    background-color: rgb(83, 45, 45);
    text-align: end;
    margin: 10px;
    color: whitesmoke;
}

section h2 {
    font-size: 30px;
}

#search-results {
    margin: 2rem;
} 
/* #search-header {
    display: inline-flex;
} */

#fav-header {
    font-size: 40px;
    text-align: right;
    font-family: monospace;
    border: darkgreen 10px double;
    display: inline-block;
    padding: 10px;
}

#fav-list ul {
    text-align: right;
    font-family: monospace;
}

