body {
    background-color: rgb(224, 224, 213);
}
#header {
    text-align: center;
    background-image: linear-gradient(to right, tan, darkgreen);
    padding: 5px;
}

main {
    margin:10px;
}

#state-name {
    margin-top: 10px;
}

#search-btn {
    background-color: rgb(83, 45, 45);
    text-align: end;
    margin: 10px;
    padding: 0 10px;
    color: whitesmoke;

}

.park-btn {
    background-color: olive !important;
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}


h5 {
    display: flex;

}

.park-details {
    padding: 10px;
}

p {
    padding: 5px 0;
}

.park-selected {
    display: none;
}